<template>
  <v-container class="dashwrapper grey lighten-5">
    <dashboard-stats @filterChanged="filterChange" />
    <router-view :filter="filter" :key="$router.fullPath"></router-view>
  </v-container>
</template>

<script>
import dashboardStats from "@/components/theDashboardStats.vue";
import store from "@/store/index.js";
import { TodoStates } from "@/models/Todo.js";

export default {
  components: {
    dashboardStats
  },
  store,
  data: () => ({
    filter: TodoStates.all
  }),
  methods: {
    filterChange(filterState) {
      this.filter = filterState;
    }
  },
  mounted() {}
};
</script>

<style scoped>
.dashwrapper {
  margin-top: 20px;
}
</style>