<template>
  <div class="lp">
    <nav class="lp__nav">
      <p class="lp__nav__text">Rachidis</p>
    </nav>

    <section class="lp__body">
      <div class="lp__text">
        <h1 class="lp__text__title">
          <span class="lp__text__title-first">Todo List</span>
          Manager
        </h1>
        <p class="lp__text__subtext">simple CRUD application to manage your tasks</p>
      </div>

      <div class="lp__mainImg">
        <img
          src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/experience_design_eq3j.svg"
          class="lp__mainImg__img"
        />
      </div>
    </section>
  </div>
</template>


<script>
export default {
  name: "home",
};
</script>

<style scoped>
.lp {
  background: #fff;
  border-radius: 8px;
  max-width: 1920px;
  height: calc(100vh - 64px);
  margin: auto;
  padding: 32px 32px 8px 32px;
  overflow: hidden;
}
.lp__body {
  margin-top: 60px;
  display: flex;
}
/*NAV*/
.lp__nav {
  width: max-content;
  display: flex;
  align-items: center;
}
.lp__nav__logo {
  width: 20px;
  margin: -1px 0 0;
  padding: 0 4px 0 0;
}
.lp__nav__text {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}
/*MAIN TEXT*/
.lp__text {
  min-width: 200px;
  padding: 0 0 25px;
  align-self: flex-end;
}
.lp__text__title {
  font-size: 32px;
  text-decoration: underline;
  margin: 0;
}
.lp__text__title-first {
  display: block;
}
.lp__text__subtext {
  color: #aaa;
  font-size: 12px;
  line-height: 1.75;
  margin: 16px 0;
}
.lp__mainImg__img {
  width: 100%;
  height: 410px;
  margin: -70px 40px 0;
}
</style>