<template>
  <div class="cards">
    <div
      @click="filter(todoStates.all)"
      :class="{active:todoStates.all==currentState}"
      class="card" v-ripple 
    >
      <div class="wrapper">
        <h1 class="value">{{allTasks}}</h1>
      </div>
      <v-icon class="isDone">mdi-equal</v-icon>
      <span class="title">Total</span>
    </div>
    <div
      @click="filter(todoStates.done)"
      :class="{active:todoStates.done==currentState}"
      class="card" v-ripple 
    >
      <div class="wrapper">
        <h1 class="value">{{doneTasks}}</h1>
      </div>
      <span class="title">Taches Terminées</span>

      <v-icon class="isDone">mdi-checkbox-marked-circle-outline</v-icon>
    </div>
    <div
      @click="filter(todoStates.waiting)"
      :class="{active:todoStates.waiting==currentState}"
      class="card" v-ripple 
    >
      <div class="wrapper">
        <h1 class="value">{{waitingTasks}}</h1>
      </div>
      <v-icon class="isDone">mdi-checkbox-blank-circle-outline</v-icon>
      <span class="title">Taches a faire</span>
    </div>
  </div>
</template>

<script>
import store from "@/store/index.js";
import { TodoStates } from "@/models/Todo.js";

export default {
  name: "dashboard-Stats",
  store,
  data: () => ({
    currentState: TodoStates.all,
    todoStates: TodoStates
  }),
  computed: {
    doneTasks: function() {
      return this.$store.getters.doneTodos.length;
    },
    waitingTasks: function() {
      return this.$store.getters.waitingTodos.length;
    },
    allTasks: function() {
      return this.$store.getters.todos.length;
    }
  },
  methods: {
    filter: function(state = TodoStates.all) {
      this.currentState = state;
      this.$emit("filterChanged", state);
    }
  }
};
</script>
<style lang="scss" scoped>
.isDone {
  position: absolute;
  right: 0;
  font-size: 110px;
  top: 10px;
  opacity: 0.1;
}
.cards {
  display: flex;
  padding: 16px;
}

.card {
  &.active {
    background: #e6edf4;
  }
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-right: 16px;
  border-radius: 5px;
  box-shadow: 0 0 7px #0001;
  flex: 1;
  position: relative;

  .wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;

    .value {
      margin: 0;
      margin-right: 8px !important;
      font-weight: 900;
    }
  }
}

.down {
  color: #ff6e6c;
  .fa-arrow-up {
    transform: rotate(135deg);
  }
}

.up {
  color: #48c885;
  .fa-arrow-up {
    transform: rotate(45deg);
  }
}
</style>