<template>
  <div>
    <v-card-text>
      <v-form v-model="isFormValid">
        <v-text-field
          :rules="emailRules"
          v-model="email"
          label="Login"
          name="login"
          id="logininput"
          placeholder="ex: fausse@connexion.com"
          prepend-icon="mdi-account"
          type="text"
        ></v-text-field>
        <v-text-field
          id="passwordinput"
          v-model="password"
          label="Password"
          :rules="pwRules"
          name="password"
          prepend-icon="mdi-lock"
          placeholder="Merci de remplir quelque mots ici"
          type="password"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn :disabled="!isFormValid" color="primary" @click="submitLoginForm">Se connecter</v-btn>
    </v-card-actions>
  </div>
</template>

<script>
export default {
  name: "the-login-form",
  data: () => ({
    email: "",
    password: "",
    emailRules: [
      v => !!v || "E-mail est Obligatoire",
      v => /.+@.+/.test(v) || "E-mail doit etre balid"
    ],
    pwRules: [
      v => !!v || "Mot de passe est obligatoire",
      v => v.length >= 3 || "Mot de passe doit contenir au moins 3 caractères",
      v =>
        v.length <= 10 || "Mot de passe doit contenir moins que 10 caractères"
    ],
    isFormValid: false
  }),
  methods: {
    submitLoginForm: function() {
      this.$store.commit("showLoader");
      setTimeout(() => {
        this.$store.commit("hideLoader");
        this.$store.commit("changeLoginState", true);
        this.$router.push({ path: "dashboard" });
      }, 2000);
    }
  }
};
</script>

<style scoped>
.v-card__actions {
  padding: 10px;
}
</style>