<template>
  <div class="globalLoader">
    <v-progress-circular size="100" indeterminate class="globalLoader_circle" color="primary"></v-progress-circular>
  </div>
</template>
<script>
export default {
  name: "the-loader"
};
</script>

<style lang="scss" scoped>
.globalLoader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  background: #686b654a;
  z-index: 9999999999999;
  justify-content: center;
  align-items: center;
}
</style>