<template>
  <div>
    <v-navigation-drawer v-model="drawer" app>
      <v-card class="mx-auto" max-width="300" tile>
        <v-list dense>
          <v-subheader>Menu</v-subheader>
          <v-list-item-group v-model="item" color="primary">
            <v-list-item v-for="(item, i) in menuItems" :key="i" :to="{name:item.toName}" exact>
              <v-list-item-icon>
                <v-icon v-text="item.icon"></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-navigation-drawer>
    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon left @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <div class="d-flex align-center">
        <router-link :to="{name:'home'}">
          <v-img
            alt="Vuetify Logo"
            right
            contain
            src="http://www.cegedim-srh.com/Style%20Library/img/logo_srh.png"
            transition="scale-transition"
            width="80"
          />
        </router-link>
      </div>
      <v-spacer></v-spacer>
      <div v-if="!isLogged">
        <v-btn text router :to="{name:'login'}">
          <span class="mr-2">Se connecter</span>
          <v-icon>mdi-login-variant</v-icon>
        </v-btn>
      </div>
      <div v-else-if="isLogged">
        <span>Bonjour, {{$store.state.user.name}}</span>
        <v-btn text @click="logout" title="Se deconnecter">
          <v-icon>mdi-logout-variant</v-icon>
        </v-btn>
      </div>
    </v-app-bar>
  </div>
</template>


<script>
import store from "@/store/index.js";
import { mapState } from "vuex";

export default {
  name: "the-navigation",
  store,
  data: () => ({
    drawer: null,
    item: 1,
    items: [
      {
        icon: "mdi-home",
        iconClass: "grey lighten-1 white--text",
        title: "Accueil",
        toName: "home"
      },
      {
        icon: "mdi-login-variant",
        iconClass: "grey lighten-1 white--text",
        title: "Se connecter",
        isLogged: false,
        toName: "login"
      },
      {
        icon: "mdi-playlist-check",
        iconClass: "grey lighten-1 white--text",
        title: "Tableau",
        isLogged: true,
        toName: "dashboard"
      },
      {
        icon: "mdi-playlist-plus",
        iconClass: "grey lighten-1 white--text",
        isLogged: true,
        title: "Ajouter une tache",
        toName: "newTodo"
      }
    ]
  }),
  methods: {
    logout() {
      this.$store.commit("changeLoginState", false);
      const path = `/`;
      if (this.$route.path !== path) {
        this.$router.push(path);
      }
    }
  },
  computed: {
    menuItems() {
      const items = this.items.filter(
        item =>
          item.isLogged === this.$store.state.isLogged ||
          item.isLogged === undefined
      );
      return items;
    },
    ...mapState(["isLogged"])
  }
};
</script>

