<template>
  <v-container class="grey lighten-5">
    <v-toolbar flat color="#fafafa">
      <v-toolbar-title>{{ isNew ?'Modifier la':'Nouvelle'}} tache</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-alert v-if="anAlert.length" type="success">{{anAlert}}</v-alert>
    <v-card-text>
      <v-form v-model="isFormValid">
        <v-text-field
          :rules="textRules"
          v-model="todo.text"
          label="Titre de la tache"
          name="text"
          placeholder="Titre de la tache"
          prepend-icon="mdi-format-title"
          type="text"
        ></v-text-field>
        <v-textarea
          id="tododesc"
          v-model="todo.desc"
          label="Déscription"
          :rules="descRules"
          name="desc"
          prepend-icon="mdi-cog"
          placeholder="Merci de remplir les details de la tache ici"
          type="text"
        ></v-textarea>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" :to="{name:'dashboard'}">Annuler</v-btn>
      <v-btn
        :disabled="!isFormValid"
        color="primary"
        @click.stop="submitLoginForm"
      >{{ isNew ?'Modifier':'Ajouter'}}</v-btn>
    </v-card-actions>
  </v-container>
</template>


<script>
import store from "@/store/index.js";
import Todo from "@/models/Todo.js";

export default {
  name: "todo-form",
  store,
  data: function() {
    return {
      anAlert: "",
      todo: new Todo(),
      isFormValid: false,
      textRules: [
        v => !!v || "Titre est Obligatoire",
        v => v.length >= 3 || "Titre  doit contenir au moins 3 caractères"
      ],
      descRules: [
        v => !!v || "Déscription est obligatoire",
        v => v.length >= 3 || "Déscription  doit contenir au moins 3 caractères"
      ]
    };
  },
  created() {
    const id = this.$route.params.id;
    const todo = this.$store.getters.getById(id);
    if (todo) {
      this.todo = todo;
    }

    let mee = [];
    let lorem =
      "  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magnam ipsum veritatis, quia ab eum. Ea, totam fuga fugit quos dolor ipsam quas voluptatum blanditiis vitae optio itaque assumenda atque?";
    lorem = lorem.split(" ");
    for (let i = 0; i < 20; i++) {
      let title = "";
      for (let j = 0; j < Math.round(Math.random() * 5); j++) {
        title += lorem[Math.round(Math.random() * lorem.length)] + " ";
      }
      let desc = "";
      for (let j = 0; j < Math.round(Math.random() * 20); j++) {
        desc += lorem[Math.round(Math.random() * lorem.length)] + " ";
      }
      let newTodo = new Todo(title, desc, Math.random() > 0.5 ? true : false);
      let nid = Todo.randomDate(new Date(2019, 0, 1), new Date()).getTime();
      newTodo.id = nid;
      mee.push(newTodo);
    }
    // console.log(mee)
  },
  computed: {
    isNew: function() {
      return this.todo.id;
    }
  },
  methods: {
    async submitLoginForm() {
      this.$store.commit("showLoader");
      this.anAlert = "";
      //new Todo
      if (!this.todo.id) {
        let idTodo = await this.$store.dispatch("addTodo", this.todo);
        this.$store.commit("hideLoader");
        this.$router.push({ name: "editTodo", params: { id: idTodo } });
        this.$forceUpdate();
        this.anAlert = "la tache a été Ajoutée avec succés";
        return;
      }
      //edit todo
      await this.$store.dispatch("editTodo", this.todo);
      this.anAlert = "la tache a été modifiée avec succés";
      this.$forceUpdate();
      this.$store.commit("hideLoader");
    }
  }
};
</script>