<template>
  <div>
    <v-toolbar flat color="#fafafa">
      <v-toolbar-title>Liste des Taches</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="primary" id="newTaskBtn" :to="{name:'newTodo'}">
        Nouvelle tache
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>
    <v-row>
      <v-col  v-for="(todo,index) in page" :key="index" cols="12" sm="4">
        <v-card v-ripple v-bind:style="{ background: (todo.isDone?'#ececec':'')}">
          <v-btn
            :to="{name:'editTodo',params:{id:todo.id}}"
            color="primary"
            fab
            dark
            small
            absolute
            top
            right
          >
            <v-icon>mdi-pen</v-icon>
          </v-btn>
          <v-card-title
            :title="todo.date+' : '+  todo.text "
            class="headline"
          >{{todo.text | truncate(20)}}</v-card-title>
          <v-card-subtitle :title="todo.desc">{{todo.desc | truncate(30) }}</v-card-subtitle>
          <v-icon
            class="isDone"
          >{{todo.isDone?'mdi-checkbox-marked-circle-outline':'mdi-checkbox-blank-circle-outline'}}</v-icon>
          <v-card-actions>
            <v-btn
              color="primary"
              class="donebuttton"
              text
              v-if="!todo.isDone"
              @click="changeState(todo.id,true)"
            >Done</v-btn>
            <v-btn
              class="undonebuttton"
              color="primary"
              text
              v-if="todo.isDone"
              @click="changeState(todo.id,false)"
            >Not yet</v-btn>
            <v-btn color="primary" text @click="ConfirmDeletion(todo.id)">Supprimer</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <div class="text-center" v-if="pagesNbr>0">
      <v-pagination
        v-model="pageIndex"
        :length="pagesNbr"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
      ></v-pagination>
    </div>

    <!-- delete todo Confirmation Message  -->
    <v-dialog v-model="confirmationDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">étes vous sure?</v-card-title>
        <v-card-text>Voulez vous vraiment supprimer cette tache? cette opération ne peut pas être annulée.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="deleteTodo">supprimer</v-btn>
          <v-btn color="green darken-1" text @click="cancelDelete">Annuler</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import store from "@/store/index.js";
import { TodoStates } from "@/models/Todo.js";

export default {
  name: "todolist",
  store,
  data() {
    return {
      confirmationDialog: false,
      pageIndex: 1,
      pageSize: 9,
      headers: [
        {
          text: "La Tache",
          align: "start",
          sortable: false,
          value: "tache"
        },
        { text: "L'état", value: "etat" }
      ]
    };
  },
  props: {
    filter: {
      required: true
    }
  },
  computed: {
    page: function() {
      return this.$store.getters.getByPageNumber(
        this.pageSize,
        this.pageIndex,
        this.filter
      );
    },
    pagesNbr: function() {
      let pages = this.$store.getters.todos;
      if (this.filter != TodoStates.all) {
        pages = pages.filter(todo => todo.isDone == this.filter);
      }
      let pageNbr = (pages.length - 1) / this.pageSize + 1;
      return Math.floor(pageNbr);
    }
  },
  methods: {
    changeState(id, status) {
      this.$store.commit("changeState", {
        id: id,
        status
      });
    },
    ConfirmDeletion(id) {
      this.confirmationDialog = true;
      this.tobeDeleted = id;
    },
    deleteTodo() {
      this.confirmationDialog = false;
      this.$store.commit("deleteTodo", this.tobeDeleted);
    },
    cancelDelete() {
      this.confirmationDialog = false;
      this.tobeDeleted = null;
    }
  }
};
</script>

<style scoped>
i.v-icon.notranslate.isDone {
  position: absolute;
  right: 0;
  font-size: 110px;
  top: 10px;
  opacity: 0.1;
}
i.v-icon.notranslate.mdi.mdi-pen.theme--dark {
  font-size: 11px !important;
}
a.v-btn.v-btn--absolute.v-btn--contained.v-btn--fab.v-btn--right.v-btn--round.v-btn--router.v-btn--top.theme--dark.v-size--small.primary {
  width: 25px;
  height: 25px;
  top: 0;
  transform: translateY(-50%);
  right: -10px;
}
</style>