<template>
  <v-app>
    <the-navigation />
    <v-main>
      <router-view></router-view>
    </v-main>
    <the-loader v-if="isloading" />
  </v-app>
</template>


<script>
import theNavigation from "@/components/theNavigation.vue";
import theLoader from "@/components/theLoader.vue";
import store from "@/store/index.js";
import { mapState } from "vuex";

export default {
  name: "App",
  store,
  components: {
    theNavigation,
    theLoader
  },
  computed: mapState({
    isloading: "isLoading",
    user: "User"
  }),
  mounted() {}
};
</script>